<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>User Information and Form</title>
		
		<!--JQUERY-->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		
		<!-- FRAMEWORK BOOTSTRAP para el estilo de la pagina-->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
		<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
		
		<!-- DATA TABLE (www.datatable.net) -->
		<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
		<script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/css/bootstrap.css">	
		<link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css">

		<!-- Los iconos tipo Solid de Fontawesome-->
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/solid.css">
		<script src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
		
		<!-- Nuestro css-->
		<link rel="stylesheet" type="text/css" href="static/css/user-form.css" th:href="@{/css/user-form.css}">
	
		<script type="text/javascript">
		    $(document).ready(function() {
		        // Asegurate que el id que le diste a la tabla sea igual al texto despues del simbolo #
		        // Esta linea convierte el elemento #userList en una DataTable.
		        $('#userList').DataTable();
		    } );
		</script>
	</head>
	<body>
		<div class="container">
			<!-- Creamos los tabs: -->
			<div class="mx-auto col-sm-8 main-section" id="myTab" role="tablist">
				<!-- nav nav-tabs = indica que la siguiente lista van a ser 'tabs'. -->
				<!-- justify-content-end = indica que esos 'tabs' serán colocados a la derecha del contenedor. Si no se especificara, por defecto se colocan a la izquierda. -->
				<ul class="nav nav-tabs justify-content-end">
					<li class="nav-item">
						<!-- active = indica que este enlace será el que esté activo cuando la página se cargue. -->
						<!--  th:classappend=" ${listTab}" = indicamos el tab que estará activo. -->
						<!-- href="#list" = indicamos el contenido que se cargará cuando se clique en este tab. -->
<!-- 						<a class="nav-link active" id="list-tab" data-toggle="tab" href="#list" role="tab" aria-controls="list" aria-selected="false">List</a> -->
						<a class="nav-link" th:classappend=" ${listTab}" id="list-tab" data-toggle="tab" href="#list" role="tab" aria-controls="list" aria-selected="false">List</a>
					</li>
					
					<li class="nav-item">
						<a class="nav-link" th:classappend=" ${formTab}" id="form-tab" data-toggle="tab" href="#form" role="tab" aria-controls="form" aria-selected="true">Form</a>				   	
					</li>
				</ul>
				
				<div class="tab-content" id="myTabContent">
					<!-- tab-pane = indica que este 'div' será un panel. -->
					<!-- fade = se mostrará el panel como un difuminado. -->
					<!-- show = indicamos que el panel se muestre al cargarse la página. -->
					<div class="tab-pane fade show active" id="list" role="tabpanel" aria-labelledby="list-tab">
						<!-- card = las 'cards' están compuestas por 2 partes: -->
							<!-- 1. El header: el encabezado de la card. -->
							<!-- 2. El body: donde irá el contenido de la card. -->
						<div class="card">
							<div class="card-header">
								<h4>Roster</h4>
							</div>
							
							<div class="card-body">
								<!-- th:include="user-form/user-list.html" = incluirá el código del archivo 'user-list.html' -->
								<!-- th:remove="tag" = con esto indicamos que este 'tag' (este div) se elimine una vez se haya insertado el trozo de código que le hemos indicado (el 'user-list.html'). -->
								<div th:include="user-form/user-list.html" th:remove="tag"></div>
							</div>
						</div>
					</div>	<!-- Fin del panel 'List'. -->
					
					<div class="tab-pane fade" id="form" role="tabpanel" aria-labelledby="form-tab">
						<div class="card">
							<div class="card-header">
								<h4>User Information</h4>
							</div>

							<div class="card-body">
								<div th:include="user-form/user-form.html" th:remove="tag"></div>
							</div>	<!-- Fin del body de la card. -->
						</div> <!-- Fin de la Card. -->
					</div>	<!-- Fin del panel 'Form'. -->
				</div>	<!-- Fin del contenido de los tabs. -->
			</div>	<!-- Fin de los tabs. -->
		</div>	<!-- Fin del contenedor. -->
	</body>
</html>