<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>User Information and Form</title>
		
		<!--JQUERY-->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		
		<!-- FRAMEWORK BOOTSTRAP para el estilo de la pagina-->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
		<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
		
		<!-- DATA TABLE (www.datatable.net) -->
		<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
		<script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/css/bootstrap.css">	
		<link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css">

		<!-- Los iconos tipo Solid de Fontawesome-->
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/solid.css">
		<script src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
		
		<!-- Nuestro css-->
		<link rel="stylesheet" type="text/css" href="static/css/user-form.css" th:href="@{/css/user-form.css}">
	
		<script type="text/javascript">
		    $(document).ready(function() {
		        // Asegurate que el id que le diste a la tabla sea igual al texto despues del simbolo #
		        // Esta linea convierte el elemento #userList en una DataTable.
		        $('#userList').DataTable();
		    } );
		</script>
	</head>
	<body>
		<div class="container">
			<!-- Creamos los tabs: -->
			<div class="mx-auto col-sm-8 main-section" id="myTab" role="tablist">
				<!-- nav nav-tabs = indica que la siguiente lista van a ser 'tabs'. -->
				<!-- justify-content-end = indica que esos 'tabs' serán colocados a la derecha del contenedor. Si no se especificara, por defecto se colocan a la izquierda. -->
				<ul class="nav nav-tabs justify-content-end">
					<li class="nav-item">
						<!-- active = indica que este enlace será el que esté activo cuando la página se cargue. -->
						<!-- href="#list" = indicamos el contenido que se cargará cuando se clique en este tab. -->
						<a class="nav-link active" id="list-tab" data-toggle="tab" href="#list" role="tab" aria-controls="list" aria-selected="false">List</a>
					</li>
					
					<li class="nav-item">
						<a class="nav-link" id="form-tab" data-toggle="tab" href="#form" role="tab" aria-controls="form" aria-selected="true">Form</a>				   	
					</li>
				</ul>
				
				<div class="tab-content" id="myTabContent">
					<!-- tab-pane = indica que este 'div' será un panel. -->
					<!-- fade = se mostrará el panel como un difuminado. -->
					<!-- show = indicamos que el panel se muestre al cargarse la página. -->
					<div class="tab-pane fade show active" id="list" role="tabpanel" aria-labelledby="list-tab">
						<!-- card = las 'cards' están compuestas por 2 partes: -->
							<!-- 1. El header: el encabezado de la card. -->
							<!-- 2. El body: donde irá el contenido de la card. -->
						<div class="card">
							<div class="card-header">
								<h4>Roster</h4>
							</div>
							
							<!-- Todo el código comentado abajo, lo sustituimos por este que sigue para poder trabajar más fácilmente. -->
							<div class="card-body">
								<!-- th:remove="tag" = con esto indicamos que este 'tag' (este div) se elimine una vez se haya insertado el trozo de código que le hemos indicado (el 'user-list.html'). -->
								<div th:include="user-form/user-list.html" th:remove="tag"></div>
								
<!-- 								Lista de usuarios -->
<!-- 								table-responsive = indicamos que la tabla será 'responsive', que se adaptará automáticamente al tamaño de la pantalla. -->
<!-- 								<div class="table-responsive"> -->
<!-- 									table-bordered =  -->
<!-- 									table-hover = resalta la fila sobre la que se posa el ratón. -->
<!-- 									<table id="userList" class="table table-hover table-striped"> -->
<!-- 										<thead class="thead-light"> -->
<!-- 											<tr> -->
<!-- 												<th scope="col">#</th> -->
<!-- 												<th scope="col">First</th> -->
<!-- 												<th scope="col">Last</th> -->
<!-- 												<th scope="col">Username</th> -->
<!-- 												<th scope="col">E-mail</th> -->
<!-- 												<th></th> -->
<!-- 											</tr> -->
<!-- 										</thead> -->
<!-- 										<tbody> -->
<!-- 											<tr> -->
<!-- 												<th scope="row">1</th> -->
<!-- 												<td>Cristian</td> -->
<!-- 												<td>Ruiz</td> -->
<!-- 												<td>c.r.username</td> -->
<!-- 												<td>c.r.username@blog.com</td> -->
<!-- 												<td> -->
<!-- 													<a href="#"><i class="fas fa-edit"></i></a> | <a href="#"><i class="fas fa-user-times"></i></a> -->
<!-- 												</td> -->
<!-- 											</tr> -->
<!-- 										</tbody> -->
<!-- 									</table> -->
<!-- 								</div> -->
							</div>
						</div>
					</div>	<!-- Fin del panel 'List'. -->
					
					<div class="tab-pane fade" id="form" role="tabpanel" aria-labelledby="form-tab">
						<div class="card">
							<div class="card-header">
								<h4>User Information</h4>
							</div>

							<!-- Todo el código comentado abajo, lo sustituimos por este que sigue para poder trabajar más fácilmente. -->
							<div class="card-body">
								<div th:include="user-form/user-form.html" th:remove="tag"></div>
								
<!-- 								Formulario de usuarios -->
<!-- 								<form class="form" role="form" autocomplete="off"> -->
<!-- 									form-group = indica la tupla 'label' / 'input' que suele tener un formulario. -->
<!-- 									row = indica que este div será una fila en el formulario. -->
<!-- 									<div class="form-group row"> -->
<!-- 										<label class="col-lg-3 col-form-label form-control-label">First name</label> -->
<!-- 										<div class="col-lg-9"> -->
<!-- 											<input class="form-control" type="text" > -->
<!-- 										</div> -->
<!-- 									</div> -->
<!-- 									<div class="form-group row"> -->
<!-- 										<label class="col-lg-3 col-form-label form-control-label">Last -->
<!-- 											name</label> -->
<!-- 										<div class="col-lg-9"> -->
<!-- 											<input class="form-control" type="text" > -->
<!-- 										</div> -->
<!-- 									</div> -->
<!-- 									<div class="form-group row"> -->
<!-- 										<label class="col-lg-3 col-form-label form-control-label">Email</label> -->
<!-- 										<div class="col-lg-9"> -->
<!-- 											<input class="form-control" type="email"> -->
<!-- 										</div> -->
<!-- 									</div> -->
<!-- 									<div class="form-group row"> -->
<!-- 										<label class="col-lg-3 col-form-label form-control-label">Username</label> -->
<!-- 										<div class="col-lg-9"> -->
<!-- 											<input class="form-control" type="text"> -->
<!-- 										</div> -->
<!-- 									</div> -->
<!-- 									<div class="form-group row"> -->
<!-- 										<label class="col-lg-3 col-form-label form-control-label">Password</label> -->
<!-- 										<div class="col-lg-9"> -->
<!-- 											<input class="form-control" type="password"> -->
<!-- 										</div> -->
<!-- 									</div> -->
<!-- 									<div class="form-group row"> -->
<!-- 										<label class="col-lg-3 col-form-label form-control-label">Confirm</label> -->
<!-- 										<div class="col-lg-9"> -->
<!-- 											<input class="form-control" type="password" > -->
<!-- 										</div> -->
<!-- 									</div> -->
									
<!-- 									<div class="form-group row"> -->
<!-- 										col-lg-12 = esta fila ocupará todo el ancho. -->
<!-- 										text-center = centrará el contenido. -->
<!-- 										<div class="col-lg-12 text-center"> -->
<!-- 											<input type="reset" class="btn btn-secondary" value="Cancel"> -->
<!-- 											<input type="button" class="btn btn-primary" -->
<!-- 												value="Save Changes"> -->
<!-- 										</div> -->
<!-- 									</div> -->
<!-- 								</form> -->
							</div>	<!-- Fin del body de la card. -->
						</div> <!-- Fin de la Card. -->
					</div>	<!-- Fin del panel 'Form'. -->
				</div>	<!-- Fin del contenido de los tabs. -->
			</div>	<!-- Fin de los tabs. -->
		</div>	<!-- Fin del contenedor. -->
	</body>
</html>